:root {
    --primary: rgb(0,46,91, 1);
    --primary-dark: rgb(0,46,91, 1);
    --primary-70: rgba(0,46,91, 0.7);
    --primary-50: rgba(0,46,91, 0.5);
    --primary-30: rgba(0,46,91, 0.3);
    --primary-10: rgba(0,46,91, 0.1);
    --logo: #39A6F5;
    --sidebar-icon: #39A6F5;
}

.bg-grad-sidebar {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgb(0,46,91, 1)),
        to(rgb(0,46,91, 0.7))
    );
}
